<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Property</h1>
</div>
<form [formGroup]="form.form">
    <div class="row mb-4">
        <div class="col-md-3">
            <label>Main Details</label>
        </div>
        <div class="col-md-6">
            <div class="row">

                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" placeholder="Name">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Maximum Guests</mat-label>
                        <input matInput formControlName="maxGuests" placeholder="Maximum Guests">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Min Booking Day</mat-label>
                        <input matInput formControlName="minBookingDate" placeholder="Min Booking Day">
                    </mat-form-field>
                </div>
                
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="city">
                            <mat-option *ngFor="let city of cities" [value]="city">city</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address" placeholder="Address">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" placeholder="Description">
                    </mat-form-field>
                </div>


            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-3">
            <label>Pricing</label>
        </div>
        <div class="col-md-6">
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label>Price per day</mat-label>
                    <input matInput formControlName="dayPrice" placeholder="Price per day">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-3">
            <label>Additional Services</label>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 mb-2">
                    <mat-form-field class="w-100">
                        <mat-label>Normal Services</mat-label>
                        <input matInput formControlName="normalServices" placeholder="First Name">
                        <mat-hint>Separate by comma</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100">
                        <mat-label>Additional Services</mat-label>
                        <input matInput formControlName="additionalServices" placeholder="First Name">
                        <mat-hint>Separate by comma</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-3">
            <label>Image</label>
        </div>
        <div class="col-md-6">
            <app-file-upload [fileType]="'referenceLetters3'"
                                    (fileUploadedEvent)="fileUploaded($event)"></app-file-upload>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-9 text-end">
            <button mat-flat-button color="primary" (click)="submit()">Add Property</button>
        </div>
    </div>
</form>