<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Property</h1>
</div>
<form>
    <div class="row mb-4">
        <div class="col-md-3">
            <label>Main Details</label>
        </div>
        <div class="col-md-6">
            <div class="row">

                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Maximum Guests</mat-label>
                        <input matInput placeholder="Maximum Guests">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Min Booking Day</mat-label>
                        <input matInput placeholder="Min Booking Day">
                    </mat-form-field>
                </div>
                
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="City">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Address">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Description">
                    </mat-form-field>
                </div>


            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-3">
            <label>Pricing</label>
        </div>
        <div class="col-md-6">
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label>Price per day</mat-label>
                    <input matInput placeholder="Price per day">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-3">
            <label>Additional Services</label>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 mb-2">
                    <mat-form-field class="w-100">
                        <mat-label>Normal Services</mat-label>
                        <input matInput placeholder="First Name">
                        <mat-hint>Separate by comma</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100">
                        <mat-label>Additional Services</mat-label>
                        <input matInput placeholder="First Name">
                        <mat-hint>Separate by comma</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-9 text-end">
            <button mat-flat-button color="primary">Add Property</button>
        </div>
    </div>
</form>