<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bookings</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a routerLink="/admin/place-booking" class="btn btn-sm btn-outline-secondary">Add New</a>
    </div>
</div>
<p-table [value]="bookings" tableStyleClass="table table-striped table-bordered">
    <ng-template pTemplate="header">
        <tr>
            <th>Room</th>
            <th>Dates</th>
            <th>Price</th>
            <th>Guest Name</th>
            <th>Status</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-booking>
        <tr>
            <td>{{ booking.unit ? booking.unit.name : booking.property.name + ' (Entire place)' }}</td>
            <td>{{ (booking.checkInDate | date:'MMM d, y' ) + ' to ' + (booking.checkOutDate | date:'MMM d, y' ) }}</td>
            <td>{{ booking.total | number:'1.2-2' }}</td>
            <td>{{ booking.guest.name }}</td>
            <td>
                <span *ngIf="booking.bookingStatus != 'CONFIRMED'" class="badge text-bg-warning">{{
                    booking.bookingStatus }}</span>
                <span *ngIf="booking.bookingStatus == 'CONFIRMED'" class="badge text-bg-success">{{
                    booking.bookingStatus }}</span>
            </td>
            <td>
                <button class="btn btn-success btn-sm me-3" (click)="selectBooking(booking)">View</button>
                <button class="btn btn-danger btn-sm" (click)="deleteBooking(booking.id)">Delete</button>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-booking-modal [booking]="booking" [dialogVisible]="dialogVisible"></app-booking-modal>