<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bookings</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a routerLink="/admin/place-booking" class="btn btn-sm btn-outline-secondary">Add New</a>
    </div>
</div>
<p-table [value]="bookings" tableStyleClass="table table-striped table-bordered">
    <ng-template pTemplate="header">
        <tr>
            <th>Room</th>
            <th>Dates</th>
            <th>Price</th>
            <th>Name</th>
            <th>Payment</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-booking>
        <tr>
            <td>{{ booking.unit.name }}</td>
            <td>{{ (booking.checkInDate | date:'MMM d, y' ) + ' to ' + (booking.checkOutDate | date:'MMM d, y' )  }}</td>
            <td>{{ booking.unit.dayPrice }}</td>
            <td>{{ booking.guest.name }}</td>
            <td>{{ booking.methodOfPayment }}</td>
            <td>{{ booking.bookingStatus }}</td>
        </tr>
    </ng-template>
</p-table>