<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Additional Services</h1>
    <a (click)="addService()" class="btn btn-success btn-sm mb-3 mt-3">Add Service</a>
</div>
<p-table [value]="services" tableStyleClass="table table-striped table-bordered">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Price Type1</th>
            <th>Price Type2</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-service>
        <tr>
            <td>{{ service.name }}</td>
            <td>{{ service.price | number:'1.2-2' }}</td>
            <td>{{ service.priceType1 }}</td>
            <td>{{ service.priceType2 }}</td>
            <td>
                <button (click)="editService(service)" class="btn btn-success btn-sm">Edit</button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Edit" [(visible)]="dialogVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">

    <div class="row mb-2">
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label>Name</mat-label>
                <input matInput name="name" placeholder="Name" [(ngModel)]="editingService.name">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label>Price</mat-label>
                <input matInput name="address" placeholder="Address" [(ngModel)]="editingService.price">
            </mat-form-field>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <label>Price Type 1</label>
            <select name="priceType1" [(ngModel)]="editingService.priceType1" class="form-select">
                <option value="Person">Person</option>
                <option value="Room">Room</option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Price Type 2</label>
            <select name="priceType1" [(ngModel)]="editingService.priceType2" class="form-select">
                <option value="Day">Day</option>
                <option value="Trip">Trip</option>
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <button mat-flat-button color="primary" (click)="save()">Save Changes</button>
        </div>
    </div>
</p-dialog>