<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">MesseLuxe</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a [routerLink]="['/admin/bookings']" routerLinkActive="active" class="nav-link text-white"  aria-current="page">
            <mat-icon class="me-2">calendar_month</mat-icon>
            Bookings
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/place-booking']" routerLinkActive="active" class="nav-link text-white"  aria-current="page">
            <mat-icon class="me-2">event</mat-icon>
            Place Booking
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/guest-book']" routerLinkActive="active" class="nav-link text-white"  aria-current="page">
            <mat-icon class="me-2">contacts</mat-icon>
            Guest Book
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/properties']" routerLinkActive="active" class="nav-link text-white"  aria-current="page">
            <mat-icon class="me-2">apartment</mat-icon>
            Properties
          </a>
        </li>
      </ul>
      <hr>
    </div>
  
    <div class="container-fluid" style="overflow: auto">
  
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">MesseLuxe | BackOffice</span>
          </a>
  
          <ul class="nav nav-pills">
  
            <li class="nav-item"><a href="/settings" class="nav-link">Settings</a></li>
            <li class="nav-item">
              <a href="/login" class="nav-link" >Log Out</a>
            </li>
          </ul>
        </header>
      </div>
  
      <div class="p-4">
        <router-outlet></router-outlet>
      </div>
  
    </div>
  </main>